
.content{
    width: 90%;
    margin: auto;
    display: table;
}
#info{
    background-color: RGBA(245, 245, 245, 0.85);
    font-size: large;
    transform: translateY(30%);
    text-align: center;
    width: 49%;
    margin-right: 2%;
    box-shadow: 7px 7px 10px RGBA(200, 200, 200, 0.5);
}

#mapa{
    width: 49%;
}
iframe{
    box-shadow: 7px 7px 10px RGBA(200, 200, 200, 0.5);
}
#info, #mapa{
    margin-top: 2%;
    display: table-cell;
    float: left;

}
#info, #mapa, iframe{
    border-radius: 10px;
}





@media only screen and (max-aspect-ratio: 9/8) {
    #info{
        margin-top: 4%;
        margin-bottom: 5%;
        font-size: large;
        text-align: center;
        width: 100%;
        transform: translateY(0%);

    }
    #mapa {
        text-align: center;
        width: 100%;
    }
}