#formularz{
}

form{
    margin: auto;
    background-color: RGBA(245, 245, 245, 0.85);
    width: 90%;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 5%;
    border-radius: 1em;
    box-shadow: 10px 10px 10px RGBA(200, 200, 200, 0.5);
}

.okno{
    width: 100%;
}
form input, form select{
    padding: 12px;
    margin-top: 6px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
}

form > input{
    color: white;
    font-family: inherit;
    background-color: #910303;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}

form > input:hover{
    background-color: #7a0202;
    transition: 0.2s;
}

footer{
    margin-top: 200px;
}
