#formularz{
}

form{
    margin: auto;
    background-color: RGBA(245, 245, 245, 0.85);
    width: 90%;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 5%;
    border-radius: 1em;
    box-shadow: 7px 7px 10px RGBA(200, 200, 200, 0.5);
}

.okno{
    width: 100%;
}
form input, form select{
    padding: 12px;
    margin-top: 6px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
}

form button{
    color: white;
    font-family: inherit;
    background-color: #910303;
    border: none;
    padding: 6px 16px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    
    
}
form button:hover{
    background-color: #7a0202;
    transition: 0.2s;
}

