.content{
    width: 95%;
    margin: auto;
    margin-top:20px;
    display: table;
}


.content img{
    width: 24%;
    margin: 0.4%;
    clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
    border: 5px solid white;
}

@media only screen and (max-aspect-ratio: 9/6){
    .content img{
        width: 48%;
    }
}


